.pageContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-around;

  img {
    width: 100%;
    height: 34rem;
    object-fit: contain;
  }

  .formContainer {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding: 2rem;
    background-color: #d3eaff;
    width: max-content;
    border-radius: 5px;

    .formTitle {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .formGroup {
      margin-bottom: 15px;

      input,
      select {
        width: 18rem;
        height: 2.5rem;
        outline: none;
        border: 1px solid #e2e2e2;
        background-color: #fdfdfdce;
        border-radius: 10px;
        padding: 0rem 1rem;
        font-size: 1rem;
      }

      select {
        width: 20rem;
      }

      button {
        width: 20rem;
        height: 2.5rem;
        border-radius: 10px;
        font-size: 1rem;
        border: 1px solid #0066bf;
        background-color: #0066bf;
        color: #ffffff;
      }
    }
  }
}
