.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-bottom: 1px #e2e2e2 solid;
  background-color: #ffffff;

  .logo {
    width: 10rem;
  }

  .items {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    text-decoration: none;
    background-color: #0066bf;
    border-color: #0066bf;
    color: #ffffff;
  }

  .form-title {
    text-align: center;
  }
}
