.tabBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px #e2e2e2 solid;
  padding: 2rem;

  h2 {
    font-weight: 600;
    font-size: 1.8rem;
  }

  .tabList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;

    li {
      border: 1px #e2e2e2 solid;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      font-size: 0.8rem;
      cursor: pointer;
    }

    .active {
      background-color: #8a2be2;
      border-color: #8a2be2;
      color: white;
    }
  }
}
